/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$primary-color: #00adb5 !default;
$text-color: #252a34 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $primary-color !default;
